@import "./layout";
@import "./base";
@import "./state";
@import "./theme";

@mixin flex-dir($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}