@import "./base";
@import "./module";
@import "./state";
@import "./theme";

body{
    font-size: 3rem;    
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $nav-color;
    // background-color: rgb(28, 209, 200);
    width:100%;
    z-index: 1;
    height: 3.4rem;
    @include flex-dir(row);
    box-shadow: 0 0 4px 2px rgb(0, 0, 0);
}
.navbar__links{
    font-size: 1.2rem;
}
.navbar__links_li{
    margin:0 18px;
}
.navbar__links_li:last-of-type{
    margin:0 18px;
}
.welcome-section{
    height: 100vh;
    background-color: $welcome-color;
    background: linear-gradient(45deg,  rgb(85, 83, 83) 0%,rgb(20, 20, 20) 70%);
    @include flex-dir(column);
}
.welcome__heading{
    margin: 0 30px 15px; 
    line-height: 1; 
}
.welcome__heading_description{  
    color: $nav-color;
    font-size: .45em;
}
.project-section{
    background-color: $projects-color;
    @include flex-dir(column);
}
.project-section__heading{
    border-bottom:1px solid $text-color ;
    margin: 70px 15px 40px 15px;
    padding-bottom: 5px;
    font-size: .7em;
}
.project__container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:30px;
}
.project{
    height: 350px;
}
.project__img{
    width: 100%;
    height:calc(100% - 3.69rem);
    object-fit: cover;
}
.project__title{
    font-size: 1.1rem;
    padding:1.09rem 0;
    width: 100%;
    background-color:$footer-color;
}
.project__title_code{
    color: $nav-color;
    opacity: 0;
    transition: opacity .2s linear;
}
.show-all{
    font-size: 19px;
    margin: 25px 0;
    background-color:$footer-color;
    padding:.3em .8em .2em;
    border-radius: 3px;
}
.show-all__icon{
    position: relative;
    left: 0;
    transition: left .3s linear;
}
.contact-section{
    font-size: .79em;
    border: 1px solid $footer-color;
    padding:15px;
    @include flex-dir(column);
}
.contact__heading{
    margin:55px 0 0;
    line-height: 1;
}
.contact__question{
    font-size: .45em;
    margin: 15px 0 30px;
}
.contact__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.contact__links_li{
    font-size: .55em;
    width:7.2em ;
    margin: .5em 0;
    position: relative;
    bottom: 0;
    transition: bottom .25s linear;
}
.footer{
    border-top: 5px solid $nav-color;
    font-size: .28em;
    padding:20px;
    @include flex-dir(column);
}
.footer__notes{
    margin: 20px;
}
.footer__notes:nth-child(1){
    margin-bottom: 0;
}
.footer__notes:nth-child(2){
    opacity: .7;
}
.footer--color{
    background-color: $footer-color;
}

@media only screen and (min-width: 450px) {
    .navbar{
        justify-content: flex-end;
    }
    .project{
        height: 400px;
    }
    .footer__notes{
        margin:10px 20px;
    }
}
@media only screen and (min-width: 850px) {
    body{
        font-size: 4rem;    
    }
    .navbar__links_li:last-of-type{
        margin-right: 75px;
    }
    // .project__container{
    //     grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    // }
    .project__title{
        font-size: 1.2rem;
    }
    .project{
        height: 400px;
    }
    .contact__links_li{
        font-size: .45em;
    }
    .contact-section{
        height: 80vh;
    }
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }
    .footer__notes{
        text-align: left;
    }
    .footer__notes:nth-child(2){
        margin-left: 70px;
    }
}