html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: #F0F0F0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #F0F0F0;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li, i {
  display: inline;
}

a {
  cursor: pointer;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

.project__container a {
  display: block;
}

body {
  font-size: 3rem;
}

.navbar__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #BE3144;
  width: 100%;
  z-index: 1;
  height: 3.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 4px 2px black;
          box-shadow: 0 0 4px 2px black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: inherit;
}

.navbar__links {
  font-size: 1.2rem;
}

.navbar__links_li {
  margin: 0 18px;
}

.welcome-section {
  height: 100vh;
  background-color: #545454;
  background: linear-gradient(45deg, #424242 0%, #141414 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome__heading {
  margin: 0 30px 15px;
  line-height: 1;
}

.welcome__heading_description {
  color: #BE3144;
  font-size: .45em;
}

.project-section {
  background-color: #45567D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-section__heading {
  border-bottom: 1px solid #F0F0F0;
  margin: 70px 15px 40px 15px;
  padding-bottom: 5px;
  font-size: .7em;
}

.project__container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.project {
  height: 350px;
}

.project__img {
  width: 100%;
  height: calc(100% - 3.69rem);
  -o-object-fit: cover;
     object-fit: cover;
}

.project__title {
  font-size: 1.1rem;
  padding: 1.09rem 0;
  width: 100%;
  background-color: #303841;
}

.project__title_code {
  color: #BE3144;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.show-all {
  font-size: 19px;
  margin: 25px 0;
  background-color: #303841;
  padding: .3em .8em .2em;
  border-radius: 3px;
}

.show-all__icon {
  position: relative;
  left: 0;
  -webkit-transition: left .3s linear;
  transition: left .3s linear;
}

.contact-section {
  font-size: .79em;
  border: 1px solid #303841;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__heading {
  margin: 55px 0 0;
  line-height: 1;
}

.contact__question {
  font-size: .45em;
  margin: 15px 0 30px;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.contact__links_li {
  font-size: .55em;
  width: 7.2em;
  margin: .5em 0;
  position: relative;
  bottom: 0;
  -webkit-transition: bottom .25s linear;
  transition: bottom .25s linear;
}

.footer {
  border-top: 5px solid #BE3144;
  font-size: .28em;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__notes {
  margin: 20px;
  font-weight: 300;
}

.footer__notes:nth-child(1) {
  margin-bottom: 0;
}

.footer__notes:nth-child(2) {
  opacity: .7;
}

.footer--color {
  background-color: #303841;
}

.project:hover .project__title_code {
  opacity: 1;
}

.show-all:hover .show-all__icon {
  left: 4px;
}

.contact__links_li:hover {
  bottom: -6px;
}

@media only screen and (min-width: 450px) {
  .navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .project {
    height: 400px;
  }
  .footer__notes {
    margin: 10px 20px;
  }
}

@media only screen and (min-width: 850px) {
  body {
    font-size: 4rem;
  }
  .navbar__container {
    height: 4.4rem;
  }
  .navbar__links_li {
    font-size: 1.3rem;
  }
  .navbar__links_li:last-of-type {
    margin-right: 0;
  }
  .welcome__heading:nth-child(1) {
    margin-top: 40px;
  }
  .welcome__heading_description {
    font-size: .45em;
    font-weight: 300;
  }
  .project__title {
    font-size: 1.2rem;
  }
  .project {
    height: 400px;
  }
  .contact-section {
    height: 80vh;
    font-size: 1em;
  }
  .contact__question {
    font-size: .35em;
    margin: 20px 0 30px;
  }
  .contact__links_li {
    font-size: .35em;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__notes {
    text-align: left;
    margin: 20px;
  }
  .footer__notes:nth-child(2) {
    margin-left: 70px;
  }
}
/*# sourceMappingURL=media.css.map */